@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor--background: #2C3B63;
    --cor--textos: #ECE59A;
    --cor--destaque: #FD6E8A;
    --cor--background--hover: #fd6e8baa;
    --cor--destaque--secundaria: #ABE3AA;

    --font--titulos: 'Krona One', sans-serif;
    --font--textos: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor--background);
    color: var(--cor--textos);
}

h3 {
    font-family: var(--font--textos);
    font-size: 1.04rem;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 10px;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3.75rem;
    /* padding: 2% 0% 0% 2%; */

}

.cabecalho__menu__item {
    text-decoration: none;
    font-family: var(--font--titulos);
    font-weight: 100;
    color: var(--cor--destaque--secundaria);
    font-size: 1.3rem;
    height: 40px;
    padding-top: 20px;
    margin-top: 30px;
    border-bottom: 1px solid var(--cor--background);

}

.cabecalho__menu__item:hover {
    border-bottom: 1px solid var(--cor--destaque--secundaria);
    font-family: var(--font--titulos);
    color: var(--cor--destaque--secundaria);


}

.apresentacao {
    padding: 3% 5% 3% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;    
}

.apresentacao__conteudo_about {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}
    

.apresentacao__conteudo__titulo {
    font-family: var(--font--titulos);
    font-size: 1.3rem;
}

.apresentacao__conteudo__destaque {
    color: var(--cor--destaque);
}

.apresentacao__conteudo__paragrafo {
    font-family: var(--font--textos);
    font-size: .8rem;
    line-height: 1.5;
    text-align: justify;
}

.apresentacao__conteudo__links {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.apresentacao__conteudo__links__texto {
    font-family: var(--font--titulos);
    font-weight: 400;
    font-size: 1.125rem;
}

.apresentacao__conteudo__links__link, span .apresentacao__conteudo__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.125rem solid var(--cor--destaque--secundaria);
    text-decoration: none;
    width: 15vw;
    border-radius: 0.5rem;
    font-family: var(--font--textos);
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--cor--textos);
    padding: 0.75rem 0rem;
    text-align: center;
}


.apresentacao__conteudo__links__link:hover {
    background-color: var(--cor--background--hover);
    text-shadow: .8px .8px #948f5e;
}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card{
    border: 2px solid;
    border-radius: 10px;
    padding: 16px;

}

footer {
    background-color: var(--cor--destaque--secundaria);
    font-family: var(--font--textos);
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--cor--background);
    position: absolute;
    bottom: 0%;
    width: 99%;

}

.footer__instragram {
    text-decoration: none;
    color: var(--cor--background);

}

.foto {
    width: 35%;
}

.foto1 {
    width: 40%;
}


@media (max-width: 1450px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
        padding-left: 0px;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__titulo {
        text-align: center;
    }

    .apresentacao__conteudo__links {
        flex-direction: column;
    }

    span .apresentacao__conteudo__links__link {
        width: 40vw;
    }



}